.bgimage{
    background-image: url(../img/sucoverde.jpeg);
    padding: 400px;
    color: black;
    text-align: center;
    opacity: 0.78;
    font-size: 60px;
    margin: 0px;
}

.bgcolor{
    background-color: rgb(206, 247, 206);
    border-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}

.ingredientes{
    font-size: 20px;
    margin: 10px;
}

.preparo{
    font-size: 20px;
    margin: 10px;
}

.paginas{
    font-size: 20px;
}
