body{
    background-color: white;
}

hr{
    border-color: #FA4716;
    border-width: 0.5px;
}

/* Header */
.header{
    color: black;
    font-family: sans-serif;
    animation-duration: 2.5s;
    animation-name: title;
    text-align: center;
    font-size: 25px;
}

@keyframes title{

from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* Imagens */
.imagem1{
    animation-name: imagem1;
    animation-duration: 2.5s;
}

/* Mark */
mark{
    background-color: #FA4716;
    
}

/* Menu */
.menu{
  display: flex;
  flex-wrap: wrap;
}

.texto-mark{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 20px;
}

/* Footer */
.footer{
  font-size: 10px;
}